#container .mix{ position: relative;  display: none; }
#container .extext { top: 160px!important; width: 400px!important; }

#filter_menu { width: 820px; height: 80px; margin-left: 2px; }

.legendButton { padding:5px 15px; float:left; margin-left:10px; margin-right:10px; margin-bottom:20px; width:150px; text-align:center; }
#classic { cursor:pointer; background-color:#e1e1e1; color:#5c5a5a; border:3px solid #898888; }
#game { cursor:pointer; background-color:#f0d6d6; color:#c55757; border:3px solid #e66666; }

.classic:hover { background-color:#e1e1e1; color:#5c5a5a; border:4px solid #898888; }
.game:hover { background-color:#f0d6d6; color:#c55757; border:4px solid #e66666; }

.fclassic { border: 1px solid #898888; margin-left: 12px; }
.fgame { border: 1px solid #e66666; margin-left: 12px; }

.fclassic p { color:#5c5a5a!important; }
.fgame p { color:#c55757!important; }

#container .fclassic a img, #container .fclassic a { border: none; overflow: hidden; float: left; background-color: #e1e1e1; opacity: 1; }
#container .fclassic a:hover { border: 10px solid #898888; }
#container .fclassic a:hover img { margin: -10px; opacity: 0.4; }

#container .fgame a img, #container .fgame a { border: none; overflow: hidden; float: left; background-color: #f0d6d6; opacity: 1; }
#container .fgame a:hover { border: 10px solid #e66666; }
#container .fgame a:hover img { margin: -10px; opacity: 0.3; }

#container .extext { position:absolute; top:140px; width:320px; text-align: center; display: none; }